<po-page-default
  >

  <hr>
  <po-info p-label="Cadastro de Clientes Prime/Público/TM">
  </po-info>

  <div class="po-row">

        <po-button
          id="btngerar"
          class="po-md-1"
          p-icon="po-icon-search"

          (p-click)="onClick()">
        </po-button>

        <po-button
          id="btngerar"
          class="po-md-1"
          p-icon="po-icon-search"

          (p-click)="onClick2()">
        </po-button>
        <po-button
          id="btngerar"
          class="po-md-1"
          p-icon="po-icon-search"

          (p-click)="onClick3()">
        </po-button>
        <po-button
          id="btngerar"
          class="po-md-1"
          p-icon="po-icon-search"

          (p-click)="onClick4()">
        </po-button>

  </div>

</po-page-default>
