<po-page-default id="g">

  <form #f="ngForm" id="f">
    <div class="container" >

      <div class="col">
        <img
        src="./assets/images/logoccb.png"
        alt="logotipo"
        class="logotipo">
      </div>

      <div class="col">
        <h5 class="texto">Espaço Infantil {{anoAtu}}</h5>
        <h4 class="texto">Central de Itapevi</h4>
      </div>

      <div class="col">
        <h6 class="texto">{{mapa.nomeCrianca}}</h6>
      </div>

      <div class="col">
        <H6 class="texto">Nascimento: {{mapa.dataNascimento}}</H6>
      </div>

      <div class="col">
        <h6 class="texto">Responsável: {{Responsaveis}}</h6>
      </div>



      <div class="col">
        <H6 class="texto">Tel: {{TelResponsaveis}}</H6>
      </div>

      <div class="col">
        <svg class="logotipo" id="barcode"></svg>
      </div>

    </div>
  </form>

</po-page-default>

