<po-page-default p-title="Inclusão de Entrada">

  <div class="po-md-12">

    <form #formEntrada="ngForm">
      <po-container>
        <blockquote id="blockquote">Informações do Cabeçalho</blockquote>
        <po-select
          class="po-md-4"
          [ngModel]="recnoFornecedor"
          name="recnoFornecedor"
          p-label='Fornecedor'
          p-clean="true"
          p-minlength="1"
          [p-options]="SelFornec"
          [p-required]="true"
          p-placeholder="Selecione o Fornecedor">
        </po-select>
        <po-input
          class="po-md-4"
          [(ngModel)]="numeroNF"
          name="numnf"
          p-label='Nota Fiscal'
          p-clean="true"
          [p-minlength]="1"
          p-required="true"
          p-placeholder="Número da NF">
        </po-input>
        <po-number class="po-md-2"
          name="serienf"
          [(ngModel)]="serieNF"
          p-clean="true"
          p-label="Série"
          [p-optional]="true"
          p-placeholder="Série da NF"
          p-required="false">
        </po-number>
        <po-datepicker
          class="po-md-2"
          name="dataEntrada"
          [(ngModel)]="dataEntrada"
          p-label="Data da Entrada"
        ></po-datepicker>
      </po-container>
      <po-container>
        <blockquote id="blockquote">Informações dos Itens</blockquote>
        <po-select
          class="po-md-6"
          name="descricaoProduto"
          [p-label]='cProduto'
          [ngModel]="cProdutoSelecionado"
          (ngModelChange)="cProdutoSelecionado = $event"
          p-clean="true"
          p-minlength="1"
          [p-options]="SelProduto"
          [p-required]="true"
          p-placeholder="Selecione o Produto">
        </po-select>
        <po-number
          class="po-md-2"
          [(ngModel)]="quantidade"
          name="quant"
          p-label='Quantidade'
          p-clean="true"
          [p-minlength]="1"
          p-required="true"
          p-placeholder="Digite a quantidade">
        </po-number>
        <po-number class="po-md-2"
          name="valorUnitario"
          [(ngModel)]="valorUnitario"
          p-clean="true"
          p-label="Valor Unitário"
          [p-optional]="true"
          p-placeholder="Valor unitário"
          p-required="true">
        </po-number>
        <po-number class="po-md-2"
          name="valtotal"
          [(ngModel)]="valorTotal"
          p-clean="false"
          p-disabled="true"
          p-enable="false"
          p-label="Valor Total"
          [p-optional]="true"
          p-placeholder="Valor total"
          p-required="true">
        </po-number>
        <po-button id="btn"
          class="po-md-12"
          p-icon="po-icon po-icon-plus"
          name="Adicionar"
          p-label="Adicionar"
          p-type="primary"
          (p-click)="Adiciona()">
        </po-button>
      </po-container>
      <po-container>
        <po-table
          [p-actions]="tableActions"
          [p-sort]="true"
          [p-single-select]="true"
          [p-selectable]="true"
          [p-columns]="columns"
          [p-items]="itemsFiltered"
          [p-loading]="lLoadingTable"
          [p-actions-right]="true">
        </po-table>
      </po-container>
      <po-container>
        <div class="po-row">

        </div>
      </po-container>
    </form>
  </div>

  <div class="po-md-12">
    <po-container class="po-md-12">
  <table class="po-md-12">
    <tr>
      <th >Produto</th>
      <th >Valor</th>
    </tr>
    <tr>
      <td>
        <po-select
          class="po-md-4"
          [ngModel]="recnoFornecedor"
          name="recnoFornecedor"
          p-clean="true"
          p-minlength="1"
          [p-options]="SelFornec">
        </po-select>
      </td>
      <td ><po-number class="po-md-8"
        name="valorUnitario"
        [(ngModel)]="valorUnitario"
        p-clean="true"
        [p-optional]="true"
        p-required="true">
      </po-number></td>

      <td>
        <po-select
          class="po-md-4"
          [ngModel]="recnoFornecedor"
          name="recnoFornecedor"
          p-clean="true"
          p-minlength="1"
          [p-options]="SelFornec">
        </po-select>
      </td>
      <td ><po-number class="po-md-8"
        name="valorUnitario"
        [(ngModel)]="valorUnitario"
        p-clean="true"
        [p-optional]="true"
        p-required="true">
      </po-number></td>
    </tr>

  </table>
</po-container>
  </div>

  <po-modal #alteraItemModal p-click-out="true"
    p-title="Alteração do Item" p-size="auto"
    >

    <po-widget class="po-font-text-large-bold po-text-left po-xl-12 po-lg-12 po-md-12 po-sm-12">
      <po-select
        class="po-md-6"
        name="descprodAlteracao"
        p-label='Produto'
        [ngModel]="cProdutoAlterado"
        (ngModelChange)="cProdutoSelecionado = $event"
        p-clean="true"
        p-minlength="1"
        [p-options]="SelProduto"
        [p-required]="true"
        p-placeholder="Selecione o Produto">
      </po-select>
      <po-number
        class="po-md-2"
        [(ngModel)]="quantidadeAltera"
        name="quantidadeAltera"
        p-label='Quantidade'
        p-clean="true"
        [p-minlength]="1"
        p-required="true"
        p-placeholder="Digite a quantidade">
      </po-number>
      <po-number class="po-md-2"
        name="valunitAltera"
        [(ngModel)]="valunitAltera"
        p-clean="true"
        p-label="Valor Unitário"
        [p-optional]="true"
        p-placeholder="Valor unitário"
        p-required="true">
      </po-number>
      <po-number class="po-md-2"
        name="valorTotalAltera"
        [(ngModel)]="valorTotalAltera"
        p-clean="false"
        p-disabled="true"
        p-enable="false"
        p-label="Valor Total"
        [p-optional]="true"
        p-placeholder="Valor total"
        p-required="true">
      </po-number>
    </po-widget>
  </po-modal>
</po-page-default>


