<po-page-default p-title="Visualização do cadastro de crianças">

  <div class="po-md-12">
    <div class="po-md-12">
      <form #formProduto="ngForm">
        <po-container>
          <po-input
            class="po-md-4"
            [(ngModel)]="mapa.nomeCrianca"
            name="NomeCrianca"
            p-label='Nome da Criança'
            p-clean="true"
            p-disabled="true"
            p-placeholder="Insira o nome da Criança">
          </po-input>

          <po-datepicker
            class="po-md-2"
            name="DataNascimento"
            [(ngModel)]="mapa.dataNascimento"
            p-disabled="true"
            p-label="Data de Nascimento">
          </po-datepicker>

          <po-input
            class="po-md-6"
            [(ngModel)]="mapa.endereco"
            name="Endereco"
            p-label='Endereço'
            p-disabled="true"
            p-clean="true"
            p-placeholder="Insira o endereço">
          </po-input>

          <po-input
            class="po-md-4"
            [(ngModel)]="mapa.bairro"
            name="Bairro"
            p-label='Bairro'
            p-disabled="true"
            p-clean="true"
            p-placeholder="Insira o Bairro ">
          </po-input>

          <po-input
            class="po-md-4"
            [(ngModel)]="mapa.cep"
            name="CEP"
            p-label='CEP'
            p-disabled="true"
            p-clean="true"
            p-placeholder="Insira o CEP"
            p-mask="99999-999">
          </po-input>

          <po-input
            class="po-md-4"
            [(ngModel)]="mapa.telCrianca"
            name="TelCrianca"
            p-label='Telefone Criança'
            p-clean="true"
            p-disabled="true"
            p-placeholder="Insira o telefeone da Criança"
            p-mask="(99) 99999-9999">
          </po-input>

          <po-input
            class="po-md-8"
            [(ngModel)]="mapa.nomePai"
            name="NomePai"
            p-label="Nome do Pai / Responsável"
            p-clean="true"
            p-disabled="true"
            p-placeholder="Insira o nome do pai ou responsável">
          </po-input>

          <po-input
            class="po-md-4"
            [(ngModel)]="mapa.telPai"
            name="TelPai"
            p-label="Telefone do Pai ou responsável"
            p-clean="true"
            p-disabled="true"
            p-placeholder="Insira o telefeone do pai ou responsável"
            p-mask="(99) 99999-9999">
          </po-input>

          <po-input
            class="po-md-8"
            [(ngModel)]="mapa.nomeMae"
            name="NomeMae"
            p-label="Nome da mãe"
            p-clean="true"
            p-disabled="true"
            p-placeholder="Insira o mãe da mãe">
          </po-input>

          <po-input
            class="po-md-4"
            [(ngModel)]="mapa.telMae"
            name="TelMae"
            p-label='Telefone da mãe'
            p-clean="true"
            p-disabled="true"
            p-placeholder="Insira o telefone da mãe"
            p-mask="(99) 99999-9999">
          </po-input>

          <po-input
            class="po-md-12"
            [(ngModel)]="mapa.email"
            name="Email"
            p-label='E-mail'
            p-disabled="true"
            p-clean="true"
            p-placeholder="Insira o e-mail">
          </po-input>

          <po-textarea
            class="po-md-12"
            [(ngModel)]="mapa.restricoesAlimentares"
            name="RestricoesAlimentares"
            p-label='Restrições alimentares.'
            p-clean="true"
            [p-disabled]="true"
            [p-maxlength]="500"
            p-placeholder="Insira as restrições alimentares caso possua">
          </po-textarea>

          <po-textarea
            class="po-md-12"
            [(ngModel)]="mapa.indicacoesMedicas"
            name="IndicacoesMedicas"
            p-label='Indicações Médicas'
            p-clean="true"
            [p-maxlength]="500"
            [p-disabled]="true"
            p-placeholder="Insira as indicações médicas caso possua">
          </po-textarea>

          <po-textarea
            class="po-md-12"
            [(ngModel)]="mapa.observacoes"
            name="Observacoes"
            p-label='Observações'
            p-clean="true"
            [p-disabled]="true"
            [p-maxlength]="500"
            p-placeholder="Insira as observações">
          </po-textarea>

        </po-container>
        <po-container>
          <div class="po-row">
            <po-button
              class="po-md-12"
              p-label="Voltar"
              p-type="primary"
              p-icon="po-icon po-icon-exit"
              [p-small]="true"
              (p-click)="Cancel()"
            >
            </po-button>
          </div>
        </po-container>
      </form>

    </div>
  </div>



</po-page-default>
<!--
<po-modal #modalCancelEditProduto
  p-close
  p-size="sm"
  [p-title]=".modalCancelEditProdutoTitle"
  [p-primary-action]="confirmReturnToListAction"
  [p-secondary-action]="returnAction">

  <div class="po-font-text-large po-text-left">{{ .modalCancelEditProdutoMessage | [mapa.id]}}</div>
</po-modal>
-->

