<po-page-default id="g">

  <form #f="ngForm" id="f">
    <div class="container" >

      <div class="col">
        <img
        src="./assets/images/logoccb.png"
        alt="logotipo"
        class="logotipo">
      </div>

      <div class="col">
        <h1 class="texto">Espaço Infantil {{anoAtu}}</h1>
        <h3 class="texto">Central de Itapevi</h3>
      </div>

      <div class="col">
        <h2 class="texto">{{mapa.nomeVoluntario}}</h2>
      </div>

      <div class="col">
        <H3 class="texto">Função: {{mapa.funcao}}</H3>
      </div>

      <div class="col">
        <h3 class="texto">Comun Congregação: {{mapa.comunCongregacao}}</h3>
      </div>

      <div class="col">
        <svg class="logotipo" id="barcode"></svg>
      </div>

    </div>
  </form>

</po-page-default>

