<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159848760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
</script>
<script src="particles.js" defer="defer"></script>

<div id="particles-js"  *ngIf="!AuthService.mostraMenu"></div>
<div>
  <div *ngIf="!AuthService.mostraMenu">
    <po-page-login

      [p-loading]="loadingButton"

      p-contact-email="wagner.lima@gmail.com"
      p-environment="Santa Escola"


      (p-login-submit)="isAuth($event)">
    </po-page-login>
  </div>
</div>

<div class="po-wrapper" id="menu" *ngIf="AuthService.mostraMenu">
  <po-menu
    [p-filter]=pFilter
    [p-collapsed]=pCollapsed

    [p-menus]="menus">
  </po-menu>


  <po-toolbar class="po-md-6" [p-title]="titleToolbar"></po-toolbar>
  <router-outlet></router-outlet>

</div>
